#nav {
  position: absolute;
}

.header-links {
  color: white;
  padding-right: 2.5vw;
  padding-left: 1vw;
  padding-top: 1vw;
  text-align: center;
  font-size: 1.5vw;
}

@media screen and (max-width: 1024px) {
  .header-links {
    font-size: 4vw;
  }

  #nav {
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
  }
}

#nav a:hover {
  color: white;
  text-decoration: underline;
}

.current-link {
  color: var(--accent);
}
