#about__container {
  animation: fadeInAnimation ease 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: var(--background-black);
  color: white;
}

#about__jumbotron {
  position: relative;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0%;
}

#about__jumboimg {
  background-image: url('../../images/horse-blur2.jpg');
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#about__heading {
  text-align: center;
}

#about-first-row {
  margin-top: 10vh;
}
