@keyframes fadeInAnimation {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --accent: #e54646;
  --background-black: #222222;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  position: relative;
}
