@keyframes fadeInAnimation {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
/* 
:root {
  --p1-1: #177e89;
  --p1-2: #084c61;
  --p1-3: #DB3A34;
  --p1-4: #FFC857;
  --p1-5: #323031;
} */

html,
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  position: relative;
}
