@keyframes fadeInAnimation {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  overflow-x: hidden;
  overflow: auto;
  height: 100%;
  font-family: "Archivo", sans-serif;
  position: relative;
}

.amplify-button[data-variation="primary"] {
  background: linear-gradient(
    to right,
    var(--amplify-colors-green-80),
    var(--amplify-colors-orange-40)
  );
}
